nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
@media (min-width: 600px){
.siteHeader > .menuBar ul > li {
    margin-left: 1.7em;
    display: inline-block;
}
}

.menu{display: flex;flex-direction: row;justify-content: space-between;margin-right: auto;margin-left: auto; width:100%;}

.menuContainer {    margin-top: -6px;}
.menuContainer nav > ul > li > a:hover {  color: #faa74a;   }
.menuBar > ul > li:last-child  a {border: 1px solid #faa74a;  margin-left: 10px;  padding: 14px 25px; background:none;  color: #FFF;    font-weight: 700; }
.menuBar > ul > li:last-child  a:hover,.menuBar >ul > li:last-child  a:focus{color: #4c4d4f;background:#FFF;}
.menuContainer nav > ul{display:flex;list-style:none;flex-direction: row;justify-content:flex-end;padding:0;margin:0;flex-grow: 1;}
nav li{display:inline-block;    margin-left: 1.7rem;}
nav li a { color: #FFF; font-family: din-2014,sans-serif; font-weight: 700; text-transform: uppercase; font-size: 12px; }
.menuContainer nav > ul > li{display:inline;z-index:3;position:relative;}
.menuContainer nav > ul > li > a{color: #FFF; text-transform:uppercase; display: block;text-decoration: none;    padding: 17px 15px;font-weight: 500; font-size: 12px; position:relative;}

.menuContainer nav > ul > li:last-child > a:after{border-right:0;}


.menuBar-subWrapper > ul > li > a {font-weight:bold;text-decoration: none;    text-transform: uppercase;font-size:14px;color: #de1a12;line-height: 16px; margin-bottom: 2px;}
.menuBar > ul > .menu-item-has-children > .menuBar-subWrapper{display: none;position: absolute; z-index: 10;list-style: none; margin: 0; padding: 12px 20px;width: 100%;left: 0;border-bottom: 1px solid #de1a12; background: #fff;border-top: 1px solid #de1a12;}
.menuBar ul li ul.sub-menu {display: none; line-height: 16px;

    flex-direction: column;
    background: #FFF;
    z-index: 5;   position: absolute; top: 54px; min-width: 180px;    }

	.activeMenuItem {
		background: #faa74a;
		color: #fff;
	  }

	  .menuContainer nav > ul > li.activeMenuItem > a:hover {
		color: #fff;
	  }
	.siteHeader .menuBar ul.sub-menu li {margin-left:0;display: block;}
.menuBar ul li ul.sub-menu li a{display: block; padding: 10px; color: #4c4d4f; text-decoration: none; font-weight: 400;line-height: 18px; font-size: 14px; text-transform: none;}
.menuBar ul li ul.sub-menu li a:hover, .menuBar ul li ul.sub-menu li a:focus {background: #faa74a; color:#fff;}
.menuBar ul li ul.sub-menu li ul {display: flex; flex-direction: column; position: relative; padding: 0 0 0 10px; margin:5px 0 15px 0; border-left: 2px solid #000;}
.menuBar ul li ul.sub-menu li ul li {width: 100%; margin:3px 0;line-height: 16px;}
.menuBar ul li ul.sub-menu li ul li a{font-size:12px;color:#000;text-decoration:none;    font-weight: 400;padding-left: 0;    text-transform: none;line-height: 12px;}
.menuBar ul li ul.sub-menu li ul li a:hover, .menuBar ul li ul.sub-menu li ul li a:focus { color: #de1a12; text-decoration: underline; }
.menuBar ul > li.menu-item-has-children > a:after{content: "+"; display: inline-block; margin-top: 10px ; margin-left: 5px ; position: absolute; top: 10%; color: #faa74a; font-weight: 700; font-size: 14px;}

@media (min-width: 1200px){
    .nav_toggle{display:none;}
    .mobileMenuBar{display:none;}
	.menuContainer nav > ul{     max-width: 990px;}
}
@media (max-width: 1199px){
	.menuContainer{padding:10px 0;}
	.menu{justify-content: flex-end;}
	form.search-box {padding: 4px 0;}
	
	.search input[type="text"] {width: 90%;box-shadow: inset 1px 2px 2px rgba(0, 0, 0, 0.25);padding: 3px 6px;font-size: 12px;border: 1px solid #959595;}	
	
	.nav_toggle {display: flex; flex-direction: column; justify-content: center; border: none; background: none; margin-left: 10px;}
	.nav_toggle img{width:auto;height:auto;}
    .menuContainer nav, .footerNavigation {display: none;}

    body.menuOpen { overflow: hidden; }
   	.mobileMenuBar [aria-hidden=true] { display: none; }
    .mobileMenuBar { display: none; position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 9999; background: rgba(0, 0, 0, 0.5); }
    body.menuOpen .mobileMenuBar { display: block; }
    .mobileMenuBar ul { margin: 0; padding: 0; list-style: none; }
    .mobileMenuBar a { display: flex; flex-direction: column; justify-content: center; height: 40px; text-decoration: none; text-transform: uppercase; line-height: 1.2; font-size: 14px;
    font-weight: 700;    font-family: din-2014,sans-serif; color: #FFF;}
    .mobileMenuBar .navGroup { height: 100%; margin: 0; padding: 26px; box-shadow: 0 -3px 10px #000; list-style: none; background: #465261; }
    .mobileMenuBar .navGroup > h2 { display: flex; flex-direction: column; justify-content: center; height: 70px; margin: -26px -26px 0; padding: 0 26px; font-size: 18px; 
		background: #505e6e; color:#fff; }
    .mobileMenuBar .navGroup > button { position: absolute; top: 12px; right: 26px; width: 40px; height: 40px; line-height: 40px; margin: 0 -10px 0 0; border: 0; font-size: 32px; 
	font-weight: 700; background: none; color: #fff; }
    .mobileMenuBar .navGroup > ul:first-of-type { margin: 20px 0; border-top: 1px solid #3b4652; }
    .mobileMenuBar .navGroup > ul li { border-bottom: 1px solid #3b4652; }
    .mobileMenuBar .menu-item-has-children { display: flex; }
    .mobileMenuBar .menu-item-has-children > a { width: calc(100% - 40px); }
    .mobileMenuBar .menu-item-has-children > a + button { width: 40px; height: 40px; line-height: 32px; border: 0; font-size: 26px; font-weight: 700; background: #faa74a; color: #fff;     text-align: center;    -webkit-appearance: none;padding: 0;}
    .mobileMenuBar .menu-item-has-children > a + button:focus,
    .mobileMenuBar .menu-item-has-children > a + button:hover { background: #000; }
    .mobileMenuBar > .navGroup { position: absolute; right: 0; width: 300px;  }
    .mobileMenuBar > .navGroup > ul > li > .navGroup > h2 { background: #505e6e; }
    .mobileMenuBar > .navGroup > ul > li > .navGroup > ul > li > .navGroup > h2 { background: #de1a12; }
    .mobileMenuBar li > .navGroup { display: none; position: absolute; top: 0; right: 0; width: calc(100% - 10px); overflow-y: auto; }
    .mobileMenuBar li > .navGroup.expanded { display: block; }
    #mobileNavGroup-main { display: flex; flex-direction: column; }
    #mobileNavGroup-main > ul:first-of-type { flex-grow: 1; }
    .mobileMenuBar .mobileMenuBar-contact a { display: block; height: auto; padding: 10px; text-align: center; font-size: 16px; background: #de1a12; color: #fff; }
    .mobileMenuBar .mobileMenuBar-contact a:focus,
    .mobileMenuBar .mobileMenuBar-contact a:hover { background: #000; }
    .mobileMenuBar .mobileMenuBar-contact a:before { vertical-align: bottom; }
	.logo a {padding: 0px 48px 0 10px;}
    .mobileMenuBar a:hover,  .mobileMenuBar a:focus {color:#FFF;}
}

@media (max-width: 767px){
	.menuOpen .banner-container, .menuOpen .slick-slider {z-index: 0;}
	.l-container {padding: 0 2rem;}
	.internal-banner .l-container {padding: 0rem;}
	.heroHeader .l-container {padding: 0rem;}
}